<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>

</head>
<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned big header">Register Page</h1>
        <div style="margin: 20px;">
            <div style="text-align:center;">
            <form method="POST" action="">
                <div class="ui raised segments">
                    <div class="ui segment">
                {{ form.hidden_tag() }}
                {{ form.username }}<br>
                    </div>
                    <div class="ui segment">
                {{ form.password }}<br>
                    </div>
                    <div class="ui segment">      
                {{ form.submit }}
                    </div>
            </div>        
            </div>
            </div>
       
        <a class="ui blue button" href="{{url_for('login')}}">Already have an account? Log in!!</a>
    </div>
    
</body>
</html>
